.navbar{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  padding: 10px;
  list-style-type: none;
}

.product-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px;
  padding: 20px;
}

.product{
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.product-image{
  max-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-name{
  font-weight: bold;
  margin: 10px;
}

.product-price{
  font-weight: bold;
  margin: 10px;
}

.skeleton-container{
  display: flex;
  flex-wrap: wrap;
}

.skeleton{
  width: 200px;
  height: 400px;
  margin: 10px;
  background-color: #f0f0f0f0;
}